html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
  --bg-color-light: #FBF3E7;
  --text-color-light: #fff;
  --accent-color-light: #8EB970;
  --timer-color-light: #EFA00E;
  --li-color-light: #939393;

  --bg-color-dark: #2D2C2A;
  --text-color-dark: #fff;
  --accent-color-dark: #518130;
  --timer-color-dark: #E8A857;
  --li-color-dark: #D3D3D3;

  --btn-border-radius: 15px;
}

body{
  max-width: 400px;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.header{
  background-color: var(--accent-color-light);
  width: 400px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-logo{
  width: 39px;
  height: 43px;
}

.header-title{
  font-weight: 900;
  font-size: 24px;
}

.header-slogan{
  font-weight: 600;
  font-size: 14px;
}

.main-section{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.timer {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-weight: 500;
  font-size: 96px;
  color: var(--timer-color-light);
}

.timer-arr {
  margin-bottom: 15px;
}

#timer-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pot-img {
  margin-top: 115px;
  width: 80px;
  height: 75px;
}

.btn{
  border-radius: var(--btn-border-radius);  
  font-family: "Nunito", sans-serif;
  transition: filter 0.2s ease;
  cursor: pointer;
}

.btn:hover,
.main-list-item:hover {
  filter: brightness(80%);
}

#start-btn {
  width: 250px;
  height: 43px;
  background-color: var(--accent-color-light);
  color: var(--text-color-light);
  font-weight: 800;
  font-size: 20px;
  border: none;
  padding-inline: 15px;
}

#donat-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 129px;
  height: 31px;
  border-radius: 50px 0 0 50px;
  border: 1px solid var(--timer-color-light);
  border-right: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 13px;
  color: var(--timer-color-light);
  margin-left: auto;
}

.donat-btn-logo {
  width: 19px;
  height: 21px;
}

.main-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-top: 30px;
}

.main-list-item {
  color: var(--li-color-light);
  cursor: pointer;
  transition: filter 0.2s ease;
}